<div class="teams_member_new_box">

	<%= form_tag("/teams/#{@team.id}/member/new", method: :get) do %>

		<div class="teams_member_search_position">
			<%= text_field_tag :search, "", placeholder:"名前を入力...", class:"teams_member_serch_form" %>

			<%= button_tag type:"submit", class:"teams_member_search_btn" do %>
				<i class="fas fa-search teams_member_search_btn_icon"></i>
			<% end %>
		</div>

	<% end %>
	<!-- form_tagのend -->

</div>

<div class="teams_member_new_box">

	<% if flash[:invite_notice] %>

		<div class="teams_member_flash"><%= flash[:invite_notice] %></div>

	<% else %>

		<%= form_for(@invitation, url: invitations_path, html: {method: :post}) do |f| %>

			<% if @results %>
				<div class="teams_member_new_box_flex">
				<% @results.each do |result| %>

					<label for="teams_member_new_id_<%= result.id %>">
						<div class="teams_member_search_result_box">
							<%= attachment_image_tag result, :image, :fill, 150, 150, fallback: "/images/no_image.jpg", class: "teams_member_new_user_image" %>
							<%= f.radio_button :user_id, "#{result.id}", id:"teams_member_new_id_#{result.id}", class:"teams_member_new_radio_button" %>
							<%= result.name %>
						</div>
					</label>

				<% end %>
				<!-- @resuluts.eachのend -->
				</div>

				<div class="teams_member_new_btn_position">
				<%= f.hidden_field :team_id, :value=> @team.id %>
				<%= f.submit "チームに招待する", class:"teams_member_new_btn" %>
				</div>
			<% end %>
			<!-- if @results のend -->





		<% end %>
		<!-- form_forのend -->

	<% end %>
	<!-- if flashのend -->

</div>


<script>
	$(document).ready(function(){

		$('.teams_member_search_result_box').click(function(){
			$('.teams_member_search_result_box').removeClass('teams_member_search_resuli_box_active');
			$(this).addClass('teams_member_search_resuli_box_active');
		});

	});
</script>