<!-- チーム詳細画面全体の箱 -->
<div class="teams_show_box">

	<!-- チーム詳細の左の箱 -->
	<div class="teams_show_left_box clearfix">

		<!-- チーム詳細の左の箱の画像の位置 -->
		<div class="teams_show_left_box_image_position">
			<%= attachment_image_tag @team, :team_image, :fill, 300, 300, fallback: "/images/no_image.jpg", class: "teams_show_box_row1_image" %>
		</div>
		<!-- チーム詳細左の箱の画像の位置fin -->

		<!-- チーム詳細の左側の箱のチーム名 -->
		<div class="teams_show_left_box_team_name">
			<%= @team.team_name %>
		</div>
		<!-- チーム詳細の左側の箱のチーム名fin -->


		<!-- チーム詳細画面のの左側のボタンの行 -->
		<div class="teams_show_left_box_btn_row">

			<%= link_to "/teams/#{@team.id}", class:"teams_show_left_box_btn_row_link" do %>
				<div class="teams_show_left_box_btn teams_show_left_box_btn_active">投稿</div>
			<% end %>

			<%= link_to "/teams/#{@team.id}/member", class:"teams_show_left_box_btn_row_link" do %>
				<div class="teams_show_left_box_btn">メンバー</div>
			<% end %>

			<%= link_to "/chats/#{@team.id}", class:"teams_show_left_box_btn_row_link" do %>
				<div class="teams_show_left_box_btn">トーク</div>
			<% end %>

		</div>
		<!-- チーム詳細画面のの左側のボタンの行fin -->


	</div>
	<!-- チーム詳細の左の箱fin -->


	<!-- pjaxで入れ替える全体の箱 -->
	<main id="barba-wrapper">
	<div class="barba-container">



	<!-- チーム詳細画面の右側の箱 -->
	<div class="teams_show_box_right_box">

		<% @team.members.each do |member| %>

		<div class="teams_show_box_right_member_a_row clearfix">

			<!-- チームメンバーの右側の箱の画像の位置 -->
			<div class="teams_show_box_right_member_a_row_image_position">
				<%= attachment_image_tag member.user, :image, :fill, 100, 100, fallback: "/images/no_image.jpg", class:"teams_show_box_right_member_a_row_image" %>
			</div>
			<!-- チームメンバーの右側の箱の画像の位置fin -->


			<!-- チームメンバーの右側の箱の文字部分 -->
			<div class="teams_show_box_right_member_a_row_letter">

				<div class="teams_show_box_right_member_a_row_name_title">
					名前
				</div>

				<div class="teams_show_box_right_member_a_row_name">
					<%= member.user.name %>
				</div>

				<div class="teams_show_box_right_member_a_row_introduction_title">
					ひとこと紹介
				</div>

				<div class="teams_show_box_right_member_a_row_introduction">
					<%= member.introduction %>
				</div>

			</div>
			<!-- チームメンバーの右側の箱の文字部分fin -->

		</div>

		<% end %>
		<!-- @team.members.eachのend -->


	</div>
	<!-- チーム詳細画面の右側の箱fin -->


	</div>
	</main>
	<!-- pjaxで入れ替える全体の箱fin -->


<!-- チーム詳細画面全体の箱fin -->
</div>


<% if @team.members.where(user_id: current_user.id).exists? %>
	<!-- チーム詳細画面の画像投稿ボタン -->
	<%= link_to new_post_path(team_id: @team.id), class:"teams_show_new_post_btn_link" do %>
		<div class="teams_show_new_post_btn">
			<i class="fas fa-camera"></i>
			<p>投稿</p>
		</div>
	<% end %>
	<!-- チーム詳細画面の投稿ボタンfin -->
<% end %>






<script>
	$(document).ready(function(){

		Barba.Pjax.start();

	var FadeTransition = Barba.BaseTransition.extend({
 		start: function() {

	    Promise
    	 .all([this.newContainerLoading, this.fadeOut()])
     	 .then(this.fadeIn.bind(this));
  		},

	fadeOut: function() {
    	return $(this.oldContainer).animate({ opacity: 0 }).promise();
  	},

	fadeIn: function() {

    	var _this = this;
    	var $el = $(this.newContainer);

	    $(this.oldContainer).hide();

		$el.css({
	  		visibility : 'visible',
	  		opacity : 0
		});

	    $el.animate({ opacity: 1 }, 400, function() {
	      _this.done();
	    });

		  }

		});

	Barba.Pjax.getTransition = function() {
  		return FadeTransition;
	};

	$('.teams_show_left_box_btn').removeClass('teams_show_left_box_btn_active');
	$('.teams_show_left_box_btn').eq(1).addClass('teams_show_left_box_btn_active')

	$('.teams_show_left_box_btn').click(function(){

		$('.teams_show_left_box_btn').removeClass('teams_show_left_box_btn_active');
		$(this).addClass('teams_show_left_box_btn_active');

	});


	});
</script>





