<!-- チーム新規作成画面全体の箱 -->
<div class="teams_new_box">

<%= form_for(@team) do |f| %>

	<!-- チーム新規作成画面の箱の中の幅(プレビュー含めず) -->
	<div class="teams_new_box_wide">




		<!-- チーム新規作成画面の都道県の入力フォーム -->
		<div class="teams_new_box_place_form_position">
			チームの所在地<br>
			<%= f.select :place, [["北海道","1"],
								  ["青森","2"],
								  ["岩手","3"],
								  ["宮城","4"],
								  ["秋田","5"],
								  ["山形","6"],
								  ["福島","7"],
								  ["茨城","8"],
								  ["栃木","9"],
								  ["群馬","10"],
								  ["埼玉","11"],
								  ["千葉","12"],
								  ["東京","13"],
								  ["神奈川","14"],
								  ["新潟","15"],
								  ["富山","16"],
								  ["石川","17"],
								  ["福井","18"],
								  ["山梨","19"],
								  ["長野","20"],
								  ["岐阜","21"],
								  ["静岡","22"],
								  ["愛知","23"],
								  ["三重","24"],
								  ["滋賀","25"],
								  ["京都","26"],
								  ["大阪","27"],
								  ["兵庫","28"],
								  ["奈良","29"],
								  ["和歌山","30"],
								  ["鳥取","31"],
								  ["島根","32"],
								  ["岡山","33"],
								  ["広島","34"],
								  ["山口","35"],
								  ["徳島","36"],
								  ["香川","37"],
								  ["愛媛","38"],
								  ["高知","39"],
								  ["福岡","40"],
								  ["佐賀","41"],
								  ["長崎","42"],
								  ["熊本","43"],
								  ["大分","44"],
								  ["宮崎","45"],
								  ["鹿児島","46"],
								  ["沖縄","47"]
								  ],{}, class:"teams_new_box_place_select" %>
		</div>
		<!-- チーム新規作成画面の都道県の入力フォームfin -->




		<!-- チーム新規作成画面のチーム名入力のフォームの位置 -->
		<div class="teams_new_box_team_name_form_position">
			<%= f.text_field :team_name, placeholder:"チーム名を入力...", class: "teams_new_box_team_neme_form" %>
		</div>
		<!-- チーム新規作成画面のチーム名入力フォームの位置fin-->

		<!-- チーム新規作成画面の画像選択フォーム -->
		<%= f.attachment_field :team_image, id:"teams_new_box_team_image_form" %>
		<label for="teams_new_box_team_image_form">
			<div class="teams_new_box_team_image_preview">
				<p>画像を選択してください</p>
			</div>
		</label>
		<!-- チーム新規作成画面の画像選択フォームfin-->

	</div>
	<!-- チーム新規作成画面の箱の中の幅(プレビュー含めず)fin -->




		<!-- チーム新規作成画面の作成ボタンの位置 -->
		<div class="teams_new_box_new_team_btn_position">

			<!-- チーム新規作成画面の作成ボタン -->
			<%= f.submit 'チーム新規作成', class: "teams_new_box_new_team_btn" %>
			<!-- チーム新規作成画面の作成ボタンfin -->

		</div>
		<!-- チーム新規作成画面の作成ボタンの位置fin -->

<% end %>

</div>
<!-- チーム新規作成画面全体の箱fin -->


<script>
	$('document').ready(function(){

	// プレビューを表示させる
		let n = 0;

		$('#teams_new_box_team_image_form').on('change', function(e){
			n ++

			if (n < 2) {
				const reader = new FileReader();

				const file = e.target.files[0];

				reader.readAsDataURL(file);

				$('.teams_new_box_team_image_preview').append('<img>');

				reader.onload = function(e){
					$('.teams_new_box_team_image_preview > p').css('display', 'none');
					$('img').attr('src', e.target.result).addClass('teams_new_box_preview_image');
				};
			} else {
				const reader = new FileReader();

				const file = e.target.files[0];

				reader.readAsDataURL(file);

				reader.onload = function(e) {
					$('img').attr('src', e.target.result);
				};
			}


		});


	});
</script>


























