<!-- チーム新規作成画面全体の箱 -->
<div class="teams_new_box">

<%= form_for(@team) do |f| %>

	<!-- チーム新規作成画面の箱の中の幅(プレビュー含めず) -->
	<div class="teams_new_box_wide">


		<!-- チーム新規作成画面のタイトル -->
		<div class="teams_new_box_title">
			チーム新規作成画面
		</div>
		<!-- チーム新規作成画面のタイトルfin -->


		<!-- チーム新規作成画面のチーム名入力のフォームのタイトル(チーム) -->
		<div class="teams_new_box_team_name_form_title">
			チーム名
		</div>
		<!-- チーム新規作成画面のチーム名入力フォームのタイトル(チーム)fin -->


		<!-- チーム新規作成画面のチーム名入力のフォームの位置 -->
		<div class="teams_new_box_team_name_form_position">
			<%= f.text_field :team, class: "teams_new_box_team_neme_form" %>
		</div>
		<!-- チーム新規作成画面のチーム名入力フォームの位置fin-->

		<!-- チーム新規作成画面の画像選択フォーム -->
		<div class="teams_new_box_team_image_form_position">
			<%= f.attachment_field :team_image, class: "teams_new_box_team_image_form" %>
		</div>
		<!-- チーム新規作成画面の画像選択フォームfin-->

	</div>
	<!-- チーム新規作成画面の箱の中の幅(プレビュー含めず)fin -->


		<!-- チーム新規作成画面の画像のプレビュー表示 -->
		<div class="teams_new_box_team_image_preview_position">
			<%= attachment_image_tag @user, :image, :fill, 200, 200, fallback: "no_image.jpg", class: "teams_new_box_team_image_preview" %>
		</div>
		<!-- チーム新規作成画面の画像のプレビュー表示fin -->

		<!-- チーム新規作成画面の作成ボタンの位置 -->
		<div class="teams_new_box_new_team_btn_position">

			<!-- チーム新規作成画面の作成ボタン -->
			<%= f.submit 'チーム新規作成', class: "teams_new_box_new_team_btn" %>
			<!-- チーム新規作成画面の作成ボタンfin -->

		</div>
		<!-- チーム新規作成画面の作成ボタンの位置fin -->

<% end %>

</div>
<!-- チーム新規作成画面全体の箱fin -->


<script>
	$('document').ready(function(){

	// プレビューを表示させる
	$('.teams_new_box_team_image_form').change(function(){

		if (this.files && this.files[0]) {
			var reader = new FileReader();

			reader.onload = function(e) {
				$('.teams_new_box_team_image_preview').attr('src', e.target.result)
			}
			reader.readAsDataURL(this.files[0]);
		}
	});


	});
</script>



























