<!-- チーム詳細画面全体の箱 -->
<div class="teams_show_box">

	<!-- チーム詳細の左の箱 -->
	<div class="teams_show_left_box clearfix">

		<!-- チーム詳細の左の箱の画像の位置 -->
		<div class="teams_show_left_box_image_position">
			<%= attachment_image_tag @team, :team_image, :fill, 300, 300, fallback: "no_image.jpg", class: "teams_show_box_row1_image" %>
		</div>
		<!-- チーム詳細左の箱の画像の位置fin -->

		<!-- チーム詳細の左側の箱のチーム名 -->
		<div class="teams_show_left_box_team_name">
			<%= @team.team_name %>
		</div>
		<!-- チーム詳細の左側の箱のチーム名fin -->

		<!-- チーム詳細の左側の箱の、いいね総計、投稿数、メンバー数の行 -->
		<div class="teams_show_left_box_row1">
			<span class="teams_show_left_box_row1_title">いいね総計
			</span>
			<span class="teams_show_left_box_row1_count">
				<%= "#{@favorites.count} " %>
			</span>


			<span class="teams_show_left_box_row1_title">投稿総数
			</span>
			<span class="teams_show_left_box_row1_count">
				<%= "#{@favorites.count} " %>
			</span>


			<span class="teams_show_left_box_row1_title">メンバー総数
			</span>
			<span class="teams_show_left_box_row1_count">
				<%= "#{@favorites.count} " %>
			</span>
		</div>
		<!-- チーム詳細の左側の箱の、いいね総計、投稿数、メンバー数の行fin -->

	</div>
	<!-- チーム詳細の左の箱fin -->




	<!-- チーム詳細画面の右側の箱 -->
	<div class="teams_show_box_right_box">


			<!-- チーム詳細画面で投稿した内容 -->
			<div class="teams_show_right_box_post">
				@post.id
			</div>
			<!-- チーム詳細画面で投稿した内容fin -->


	</div>
	<!-- チーム詳細画面の右側の箱fin -->





<!-- チーム詳細画面全体の箱fin -->
</div>


<% if @team.members.where(user_id: current_user.id).exists? %>
	<!-- チーム詳細画面の画像投稿ボタン -->
	<%= link_to new_post_path(team_id: @team.id), class:"teams_show_new_post_btn_link" do %>
		<div class="teams_show_new_post_btn">
			<i class="fas fa-camera"></i>
			<p>投稿</p>
		</div>
	<% end %>
	<!-- チーム詳細画面の投稿ボタンfin -->
<% end %>












