<!-- チーム詳細画面全体の箱 -->
<div class="teams_show_box">

	<!-- チーム詳細の左の箱 -->
	<div class="teams_show_left_box clearfix">

		<!-- チーム詳細の左の箱の画像の位置 -->
		<div class="teams_show_left_box_image_position">
			<%= attachment_image_tag @team, :team_image, :fill, 300, 300, fallback: "/images/no_image.jpg", class: "teams_show_box_row1_image" %>
		</div>
		<!-- チーム詳細左の箱の画像の位置fin -->

		<!-- チーム詳細の左側の箱のチーム名 -->
		<div class="teams_show_left_box_team_name">
			<%= @team.team_name %>
		</div>
		<!-- チーム詳細の左側の箱のチーム名fin -->

		<!-- チーム詳細の左側の箱の、いいね総計、投稿数、メンバー数の行 -->
		<div class="teams_show_left_box_row1">
			<span class="teams_show_left_box_row1_title">いいね総計
			</span>
			<span class="teams_show_left_box_row1_count">
				<%= "#{@favorites.count} " %>
			</span>


			<span class="teams_show_left_box_row1_title">投稿総数
			</span>
			<span class="teams_show_left_box_row1_count">
				<%= "#{@favorites.count} " %>
			</span>


			<span class="teams_show_left_box_row1_title">メンバー総数
			</span>
			<span class="teams_show_left_box_row1_count">
				<%= "#{@favorites.count} " %>
			</span>
		</div>
		<!-- チーム詳細の左側の箱の、いいね総計、投稿数、メンバー数の行fin -->

	</div>
	<!-- チーム詳細の左の箱fin -->




	<!-- チーム詳細画面の右側の箱 -->
	<div class="teams_show_box_right_box">
		<% @posts.each do |post| %>

			<%= form_for(@post_comment, data: {remote: true}) do |f| %>

				<!-- チーム詳細画面で投稿した内容 -->
				<div class="teams_show_right_box_post">

						<!-- チーム詳細画面で投稿した人 -->
						<div class="teams_show_right_box_post_author clearfix">
							<%= attachment_image_tag post.user, :image,  :fill, 40, 40, fallback: "no_image.jpg", class:"teams_show_rihgt_box_post_author_image" %>
							<div class="teams_show_right_box_post_user_name"><%= post.user.name %></div>
						</div>
						<!-- チーム詳細画面で投稿した人 -->


						<!-- チーム詳細画面で投稿した投稿画像 -->
						<%= attachment_image_tag post, :post_image,  :fill, 300, 300, fallback: "no_image.jpg", class:"teams_show_rihgt_box_post_image" %>
						<!-- チーム詳細画面で投稿した投稿画像fin -->


						<!-- チーム詳細画面で投稿した内容へのいいね、コメントボタンの箱 -->
						<div class="teams_show_right_box_post_good_comment_box">

							<%= render partial: 'teams/like_position', locals: {post: post} %>

								<label for="teams_show_right_box_post_comment_form_id">
									<i class="far fa-comment"></i>
								</label>
						</div>
						<!-- チーム詳細画面で投稿した内容へのいいね、コメントボタンの箱fin -->


						<!-- チーム詳細画面で投稿した投稿内容 -->
						<div class="teams_show_right_box_post_content">
							<%= post.post_content %>
						</div>
						<!-- チーム詳細画面で投稿した投稿内容fin -->


						<!-- チーム詳細画面で投稿した内容に対するコメント -->
						<div class="teams_show_right_box_post_content_comment">

							<!-- チーム詳細画面の投稿内容に対するコメント1つ1つ -->
							<div class="teams_show_right_box_content_one_comment">
								<%= render partial: 'teams/comment_position', locals: {post: post} %>
							</div>
							<!-- チーム詳細画面の投稿内容に対するコメント1つ1つfin -->

						</div>
						<!-- チーム詳細画面で投稿した内容に対するコメントfin -->


						<!-- チーム詳細画面のコメント入力欄 -->
						<div class="teams_show_right_box_post_comment_form_position clearfix">
							<%= f.text_field :post_comment, placeholder: "コメントを入力", class:"teams_show_right_box_post_comment_form", id:"teams_show_right_box_post_comment_form_id" %>
							<div class="teams_show_right_box_post_btn_position">
								<%= f.hidden_field :post_id, :value => post.id %>
								<%= button_tag type:"submit", class:"teams_show_right_box_post_btn" do %>
									<i class="fab fa-telegram-plane"></i>
								<% end %>

							</div>
						</div>
						<!-- チーム詳細画面のコメント入力欄fin -->



				</div>
				<!-- チーム詳細画面で投稿した内容fin -->

			<% end %>
			<!-- form_forのend -->


				<!-- チーム詳細画面のモーダル画面 -->
				<div class="teams_show_favorite_count_modal_">
				</div>
				<!-- チーム詳細画面のモーダル画面fin -->

		<% end %>
		<!-- @postのeachのend -->


	</div>
	<!-- チーム詳細画面の右側の箱fin -->


<!-- チーム詳細画面全体の箱fin -->
</div>


<% if @team.members.where(user_id: current_user.id).exists? %>
	<!-- チーム詳細画面の画像投稿ボタン -->
	<%= link_to new_post_path(team_id: @team.id), class:"teams_show_new_post_btn_link" do %>
		<div class="teams_show_new_post_btn">
			<i class="fas fa-camera"></i>
			<p>投稿</p>
		</div>
	<% end %>
	<!-- チーム詳細画面の投稿ボタンfin -->
<% end %>






<script>
	$(document).ready(function(){

		$('.teams_show_right_box_good_count').click(function(){
			$('.teams_show_favorite_count_modal')
		});

	});
</script>





