<!-- ユーザーマイページ左側の箱 -->
<div class="users_mypage_box">



	<!-- ユーザーマイページ上側の部分 -->
	<div class="teams_show_left_box_image_position">

		<div class="users_mypage_left_box_name">
			<%= @team.team_name %>
		</div>

		<%= attachment_image_tag @team, :team_image, :fill, 200, 200, fallback: "/images/no_image.jpg", class: "teams_show_left_box_image" %>

	</div>
	<!-- ユーザーマイページ上側の部分fin -->



	<!-- ユーザーマイページのフォロー、チーム招待の行 -->
	<div class="teams_show_users_follow_invite_row">

		<span id="teams_show_users_follow_position">
			<%= render partial:'follows/follow', locals: {team: @team} %>
		</span>

		<%= link_to "/teams/#{@team.id}/member/new", class:"link no-barba" do %>
			<div class="teams_show_users_invite_btn">
				招待
			</div>
		<% end %>

	</div>
	<!-- ユーザーマイページのフォロー、チーム招待の行fin -->



	<!-- ユーザーマイページのフォロー、所属の位置 -->
	<div class="users_show_follow_belong_position">

		<%= link_to team_path(@team.id), class:"users_show_follow_belong_link" do %>
			<span class="user_show_follow_belong_count"><%= @team.posts.count %></span><span> post</span>
		<% end %>


		<%= link_to "/teams/#{@team.id}/member", class:"users_show_follow_belong_link" do %>
			<span class="user_show_follow_belong_count"><%= @team.members.count %></span><span> member</span>
		<% end %>


		<%= link_to chat_path(@team.id), class:"users_show_follow_belong_link" do %>
			<span class="user_show_follow_belong_count"><%= "#{@team.chats.count}" %></span><span> talk</span>
		<% end %>

	</div>
	<!-- ユーザーマイページのフォロー、所属の位置fin -->



	<!-- pjaxでの切り替えられる箱 -->
	<main id="barba-wrapper">
	<div class="barba-container">
		<div class="users_show_main_content_box">

			<% @team.posts.each do |post| %>
			<%= form_for(@post_comment, data: {remote: true}) do |f| %>
				<div class="users_show_main_content_box_post">

					<%= attachment_image_tag post, :post_image, :fill, 500, 500, fallback: "/images/no_image.jpg", class:"user_show_main_content_box_post_image" %>

					<!-- いいねとコメントの箱 -->
					<div class="users_main_content_box_post_favorite_coment_box">

						<%= render partial: 'teams/like_position', locals: {post: post} %>

						<label for="teams_show_right_box_post_comment_form_id">
							<i class="far fa-comment user_show_post_comment"></i>
						</label>

					</div>
					<!-- いいねとコメントの箱fin -->

					<!-- マイページのユーザー投稿の文章の内容 -->
					<div class="users_show_main_content_box_post_content">
						<%= post.post_content %>
					</div>
					<!-- マイページのユーザー投稿の文章の内容fin -->


					<!-- マイページのユーザーコメント1つ1つ -->
					<div class="users_show_main_content_box_post_comment_box">
						<%= render partial: 'teams/comment_position', locals: {post: post} %>
					</div>
					<!-- マイページのユーザーコメント1つ1つfin -->


					<!-- マイページユーザー投稿のコメント投稿 -->
					<div class="users_show_main_content_box_comment_form_position">

						<%= f.text_field :post_comment, placeholder: "コメントを入力...", class:"users_show_main_content_box_post_comment_form", id:"teams_show_right_box_post_comment_form_id" %>


						<%= f.hidden_field :post_id, :value => post.id %>
						<%= button_tag type:"submit", class:"teams_show_right_bix_post_comment_btn" do %>
							<i class="fab fa-telegram-plane users_show_right_main_content_comment_btn_plane"></i>
						<% end %>

					</div>

				</div>
			<% end %>
			<!-- form_forのend -->
			<% end %>
			<!-- @user.posts.eachのend -->


		</div>
	</main>
	</div>
	<!-- pjaxでの切り替えられる箱fin -->





	<% if @team.members.where(user_id: current_user.id).exists? %>
		<!-- チーム詳細画面の画像投稿ボタン -->
		<%= link_to new_post_path(team_id: @team.id), class:"teams_show_new_post_btn_link" do %>
			<div class="teams_show_new_post_btn">
				<i class="fas fa-camera"></i>
				<p>投稿</p>
			</div>
		<% end %>
		<!-- チーム詳細画面の投稿ボタンfin -->
	<% end %>






</div>
<!-- ユーザーマイページ左側の箱fin -->


<script>
	$(document).ready(function(){



		Barba.Pjax.start();

		var FadeTransition = Barba.BaseTransition.extend({
	 		start: function() {

		    Promise
	    	 .all([this.newContainerLoading, this.fadeOut()])
	     	 .then(this.fadeIn.bind(this));
	  		},

		fadeOut: function() {
	    	return $(this.oldContainer).animate({ opacity: 0 }).promise();
	  	},

		fadeIn: function() {

	    	var _this = this;
	    	var $el = $(this.newContainer);

		    $(this.oldContainer).hide();

			$el.css({
		  		visibility : 'visible',
		  		opacity : 0
			});

		    $el.animate({ opacity: 1 }, 400, function() {
		      _this.done();
		    });

			  }

			});

		Barba.Pjax.getTransition = function() {
	  		return FadeTransition;
		};


	});
</script>







