<!-- ユーザーマイページ編集全体の箱 -->
<div class="users_mypage_edit_box clearfix">

	<!-- ユーザーマイページ編集の左側の箱 -->
	<div class="users_mypage_edit_left_box">

		<div class="users_mypage_edit_left_box_content1 users_mypage_edit_left_box_btn users_mypage_edit_left_box_active">
			プロフィールを変更
		</div>

		<div class="users_mypage_edit_left_box_content2 users_mypage_edit_left_box_btn">
			メールアドレスを変更
		</div>


		<div class="users_mypage_edit_left_box_content3 users_mypage_edit_left_box_btn">
			ログアウト
		</div>

		<%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしてよろしいですか？' }, class:"link" do %>
		<% end %>

	</div>




	<%= form_for(@user, url: user_path(id: current_user.id), html: {method: 'patch'}) do |f| %>

		<!-- ユーザーマイページ編集の右側の箱1(プロフィールを編集するページ) -->
		<div class="users_mypage_edit_right_box users_mypage_edit_active">

			<!-- 画像のプレビュー表示と画像を選ぶボタン -->
			<div class="users_mypage_edit_right_row1">
				<div class="users_mypage_edit_right_image">
					<%= attachment_image_tag @user, :image, :fill, 200, 200, fallback: "/images/no_image.jpg", class: "users_mypage_edit_right_image2", id:"users_mypage_edit_preview" %>
				</div>

				<div class="users_mypage_edit_right_upload">
					<%= f.attachment_field :image, id:"users_mypage_edit_img" %>
				</div>
			</div>
			<!-- 画像のプレビュー表示と画像を選ぶボタンfin -->

			<!-- 名前の入力欄 -->
			<div class="users_mypage_edit_right_row2">

				<div class="users_mypage_edit_name">
					名前
				</div>
				<div class="users_mypage_edit_name_form">
					<%= f.text_field :name, class: "users_mypage_edit_right_row2_name" %>
				</div>

			</div>
			<!-- 名前の入力欄fin -->

			<!-- プロフィールの変更の保存ボタン -->
			<div class="user_mypage_edit_right_box_save_btn_potition">
				<%= f.submit 'プロフィールの変更を保存する', class: "user_mypage_edit_right_box_save_btn" %>
			</div>
			<!-- プロフィールの変更の保存ボタンfin -->

		</div>
		<!-- ユーザーマイページ編集の右側の箱(プロフィールを編集するページ)fin -->



		<!-- ユーザーマイページ編集の右側の箱2(メールアドレスを変更するページ) -->
		<div class="users_mypage_edit_right_box">

			<!-- メールアドレスの入力欄 -->
			<div class="users_mypage_edit_right_box2_row">
				<div class="users_mypage_add_form_position">

						<div><%= f.text_field :email, class: "users_mypage_edit_right_row2_name" %></div>

				</div>
			</div>
			<!-- メールアドレスの入力欄fin -->


			<!-- メールアドレスの変更の保存ボタン -->
			<div class="user_mypage_edit_right_box_save_btn_potition">
				<%= f.submit 'メールアドレスの変更を保存する', class: "user_mypage_edit_right_box_save_btn" %>
			</div>
			<!-- メールアドレスの変更の保存ボタンfin -->

		</div>
		<!-- ユーザーマイページ編集の右側の箱(メールアドレスを変更するページ)fin -->

	<% end %>




		<!-- ユーザーマイページ編集の右側の箱3(ログアウトのページ) -->
		<div class="users_mypage_edit_right_box">

			<%= link_to destroy_user_session_path, class:"user_mypage_edit_sign_out_btn_link" do %>
				<div class="user_mypage_edit_sign_out_btn">
					ログアウト
				</div>
			<% end %>

		</div>
		<!-- ユーザーマイページ編集の右側の箱3(ログアウトのページ)fin -->






</div>
<!-- ユーザーマイページ編集全体の箱fin -->







<script>
$(document).ready(function() {

	//プレビューを表示させる
	 $("#users_mypage_edit_img").change(function(){

	 if (this.files && this.files[0]) {
		 var reader = new FileReader();
		 reader.onload = function (e) {
		   $('#users_mypage_edit_preview').attr('src', e.target.result);
		}
			reader.readAsDataURL(this.files[0]);
		  }
		});

	 // 選択ボタンでマウスを置いたときの処理
	 $('.users_mypage_edit_left_box_btn').hover(
	 	function(){
	 		$(this).css('background-color', '#E5E5E5')
	 		$(this).css('cursor', 'pointer')
	 		$(this).css('cursor', 'hand')
	 	},
	 	function(){
	 		$(this).css('background-color', 'white')
	 	}
	 	);


	 // 選択ボタンを押したときの処理
	 $('.users_mypage_edit_left_box_btn').click(function(){
	 	$('.users_mypage_edit_left_box_active').removeClass('users_mypage_edit_left_box_active');
	 	$(this).addClass('users_mypage_edit_left_box_active');

	 	var number = $('.users_mypage_edit_left_box_btn').index($(this));
	 	$('.users_mypage_edit_active').removeClass('users_mypage_edit_active');
	 	$('.users_mypage_edit_right_box').eq(number).addClass('users_mypage_edit_active');
	 });


});
</script>










