<!-- ユーザーマイページ左側の箱 -->
<div class="users_mypage_box">

	<% if @user.id == current_user.id %>
	<div class="users_mypage_left_box_edit_page">
		<%= link_to edit_user_path(@user.id), class:"no-barba" do %>
			<i class="fas fa-ellipsis-h"></i>
		<% end %>
	</div>
	<% end %>

	<!-- ユーザーマイページ上側の部分 -->
	<div class="users_mypage_left_box_image_position">

		<%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "/images/no_image.jpg", class: "users_mypage_left_box_image" %>

		<div class="users_mypage_left_box_name">
			<%= @user.name %>
		</div>

	</div>
	<!-- ユーザーマイページ上側の部分fin -->


	<!-- ユーザーマイページのフォロー、所属の位置 -->
	<div class="users_show_follow_belong_position">

		<%= link_to user_path(@user.id), class:"users_show_follow_belong_link" do %>
			<div class="user_show_count_under_line select_action_under_line">
				<span class="user_show_follow_belong_count"><%= @user.posts.count %></span><span> post</span>
			</div>
		<% end %>

		<%= link_to "/users/#{@user.id}/follow", class:"users_show_follow_belong_link" do %>
			<div class="user_show_count_under_line">
				<span class="user_show_follow_belong_count"><%= @user.follows.count %></span><span> follow</span>
			</div>
		<% end %>

		<%= link_to "/users/#{@user.id}/belong", class:"users_show_follow_belong_link" do %>
			<div class="user_show_count_under_line">
				<span class="user_show_follow_belong_count"><%= "#{@user.members.count}" %></span><span> belong</span>
			</div>
		<% end %>

	</div>
	<!-- ユーザーマイページのフォロー、所属の位置fin -->



	<!-- pjaxでの切り替えられる箱 -->
	<main id="barba-wrapper">
	<div class="barba-container">
		<div class="users_show_main_content_box">

			<% @user.posts.each do |post| %>
			<%= form_for(@post_comment, data: {remote: true}) do |f| %>
				<div class="users_show_main_content_box_post">

				<div class="users_show_responsive_image_position">
					<%= attachment_image_tag post, :post_image, :fill, 500, 500, fallback: "/images/no_image.jpg", class:"user_show_main_content_box_post_image" %>
				</div>

					<!-- いいねとコメントの箱 -->
					<div class="users_main_content_box_post_favorite_coment_box">

						<%= render partial: 'teams/like_position', locals: {post: post} %>

						<label for="teams_show_right_box_post_comment_form_id">
							<i class="far fa-comment user_show_post_comment"></i>
						</label>

					</div>
					<!-- いいねとコメントの箱fin -->

					<!-- マイページのユーザー投稿の文章の内容 -->
					<% if post.post_comments.present? %>
						<div class="users_show_main_content_box_post_content" data-post="<%=post.id%>">
						<%= post.post_content %>
						</div>
					<% else %>
						<div class="users_show_main_content_box_post_content2" data-post="<%=post.id%>">
						<%= post.post_content %>
						</div>
					<% end %>
					<!-- マイページのユーザー投稿の文章の内容fin -->


					<!-- マイページのユーザーコメント1つ1つ -->
					<div class="users_show_main_content_box_post_comment_box">
						<%= render partial: 'teams/comment_position', locals: {post: post} %>
					</div>
					<!-- マイページのユーザーコメント1つ1つfin -->


					<!-- マイページユーザー投稿のコメント投稿 -->
					<div class="users_show_main_content_box_comment_form_position">

						<%= f.text_field :post_comment, placeholder: "コメントを入力...", class:"users_show_main_content_box_post_comment_form", id:"teams_show_right_box_post_comment_form_id" %>


						<%= f.hidden_field :post_id, :value => post.id %>
						<%= button_tag type:"submit", class:"teams_show_right_bix_post_comment_btn" do %>
							<i class="fab fa-telegram-plane users_show_right_main_content_comment_btn_plane"></i>
						<% end %>

					</div>

				</div>
			<% end %>
			<!-- form_forのend -->
			<% end %>
			<!-- @user.posts.eachのend -->


		</div>
	</main>
	</div>
	<!-- pjaxでの切り替えられる箱fin -->



</div>
<!-- ユーザーマイページ左側の箱fin -->


<script>
	$(document).ready(function(){



		Barba.Pjax.start();

		var FadeTransition = Barba.BaseTransition.extend({
	 		start: function() {

		    Promise
	    	 .all([this.newContainerLoading, this.fadeOut()])
	     	 .then(this.fadeIn.bind(this));
	  		},

		fadeOut: function() {
	    	return $(this.oldContainer).animate({ opacity: 0 }).promise();
	  	},

		fadeIn: function() {

	    	var _this = this;
	    	var $el = $(this.newContainer);

		    $(this.oldContainer).hide();

			$el.css({
		  		visibility : 'visible',
		  		opacity : 0
			});

		    $el.animate({ opacity: 1 }, 400, function() {
		      _this.done();
		    });

			  }

			});

		Barba.Pjax.getTransition = function() {
	  		return FadeTransition;
		};

		$('.user_show_count_under_line').click(function(){
			$('.user_show_count_under_line').removeClass('select_action_under_line');
			$(this).addClass('select_action_under_line');
		});

	});
</script>
























