<!-- 新規投稿画面の箱 -->
<div class="posts_new_box">

<%= form_for @post do |f| %>

	<!-- 新規投稿のタイトル -->
	<div class="posts_new_box_title">
		新規投稿
	</div>
	<!-- 新規投稿のタイトルfin -->

	<!-- 投稿画像のプレビュー表示 -->
	<%= f.attachment_field :post_image, id:"post_new_image_select_form" %>
	<label for="post_new_image_select_form">
		<div class="post_new_image_form">
			<p>画像を選択してください</p>
		</div>
	</label>

	<!-- 新規投稿のプレビューfin -->

	<!-- 文章の投稿の箱 -->
	<div class="post_new_box_post_sentence_box">
		<%= f.text_area :post_content, class:"post_new_box_post_sentence", placeholder:"画像の思い出..." %>
	</div>
	<!-- 文章の投稿fin -->

	<%= f.hidden_field :team_id, :value => @team.id %>

	<div class="post_new_box_post_btn_box">
		<%= f.submit '投稿', class:"post_new_button" %>
	</div>

<% end %>
<!-- form_forのend -->

</div>
<!-- 新規投稿画面の箱fin -->





<script>
	$(document).ready(function(){

		let n = 0;

		$('#post_new_image_select_form').on('change', function(e){
			n ++

			if (n < 2) {
				const reader = new FileReader();


				const file = e.target.files[0];

				reader.readAsDataURL(file);

				$('.post_new_image_form').append('<img>');

				reader.onload = function(e){
					$('.post_new_image_form > p').css('display', 'none')
					$('img').attr('src', e.target.result).addClass('post_image_preview')
				};
			} else {
				const reader = new FileReader();

				const file = e.target.files[0];

				reader.readAsDataURL(file);

				reader.onload = function(e) {
					$('img').attr('src', e.target.result).addClass('post_image_preview')
				};
			}


		});


	});
</script>



