<!DOCTYPE html>
<html>
  <head>
    <title>Squad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body>
  <!-- wrap -->
  <div class="wrap">

    <header>
      <!-- ヘッダーの要素の幅 -->
      <div class="header_wide clearfix">

        <!-- ヘッダー左側要素（タイトル） -->
        <%= link_to "/", class: "header_left_link clearfix" do %>
          <div class="header_left">
            Squad
          </div>
        <% end %>
        <!-- ヘッダー左側要素fin -->

      </div>
      <!-- ヘッダーの要素の幅fin -->
    </header>


    <div class="contents clearfix">
      <%= yield %>
    </div>


    <footer class="clearfix">

      <!-- フッターの要素の幅と高さ -->
      <div class="footer_wide clearfix">

        <!-- ログインしているとき -->
        <% if user_signed_in? %>
          <!-- ヘッダー右側要素（リンク） -->
          <div class="footer_right clearfix">
            <%= link_to new_team_path, class: "footer_right_link" do %>
              <div class="footer_right_link_btn">
                チームを作る
              </div>
            <% end %>
            <%= link_to "/user", class: "footer_right_link" do %>
              <div class="footer_right_link_btn">
                マイページ
              </div>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "footer_right_link" do %>
              <div class="footer_right_team_btn">
                ログアウト
              </div>
            <% end %>
          </div>
            <!-- ヘッダー右側要素fin -->


        <!-- ログインしていないとき -->
        <% else %>
          <!-- ヘッダー右側要素（リンク） -->
          <div class="header_right clearfix">
            <%= link_to "ユーザー登録", new_user_registration_path, class: "header_right_link" %>
            <%= link_to "ログイン", new_user_session_path, class: "header_right_link" %>
          </div>
            <!-- ヘッダー右側要素fin -->
        <% end %>

      </div>
      <!-- フッターの要素の幅と高さfin -->

    </footer>

  </div>
  <!-- wrapfin -->


  </body>


</html>
